## FILENAME: .gitignore
## VERSION: 191203
## UPDATED: 12-3-2019 (11:20 PM)
## A general .gitignore file for GitHub repositories
## Most of this has been copy/pasted from https://github.com/github/gitignore
## Changelog at EOF

## You will probably want to supplement this .gitignore with other more
## specific .gitignore files, which you can get from here:
##
##    https://github.com/APrettyCoolProgram/DotfilesAndGistsEtc/tree/master/Dotfiles/gitignore
##
## or here:
##
##    https://github.com/github/gitignore


# Temporary directories and files
*_[Ss]cratch/
*.DS_store
*Thumbs.db